<html>
  <head>
    <title>Virtual World Framework - Examples and Demonstrations</title>
		<link rel='stylesheet' type='text/css' href='css/bootstrap.min.css' />
		<link rel='stylesheet' type='text/css' href='css/bootstrap-responsive.min.css' />
		<link rel='stylesheet' type='text/css' href='css/vwf.css' />
	
    <script src="jquery-1.7.1.js"></script>
    <script type='text/javascript'>
      function showInfo(app, query)
      {
        $('.overlay').css('visibility', 'visible');
        $('.overlay').html($('#'+ app + '-content').html());
        function update(app) {
          var instances$ = $('.overlay').children('.instances');
          var match;
          if ( $('.overlay').children('.app-title').attr('id') == app && $('.overlay').css('visibility') == 'visible' ) {
            jQuery.getJSON( "../" + app + "/admin/instances", function( data ) {
              if ( $('.overlay').children('.app-title').attr('id') == app && $('.overlay').css('visibility') == 'visible' ) {
                instances$.empty();
                instances$.html("<p><b>Instances</b></p>");
                jQuery.each( data, function( key, value ) {
                  if ( match = key.match( RegExp( "/([^/]*)$" ) ) ) { // assignment is intentional
                    var instanceHTML = htmlEscape( match[1] );
                    var size = Object.size(value.clients); 
                    instances$.append( "<a href='../" + app + "/" + instanceHTML + ( query || "" ) + "'>" + instanceHTML + "</a>" + " (" + size + ")" + "<br />" );
                  }
                } );
                setTimeout(update, 1000, app);
              }
            } );
          }
        };
        update(app);
      }
      function closeInfo()
      {
        $('.overlay').css('visibility', 'hidden');
      }
    </script>
    <script>

      // From http://stackoverflow.com/a/7124052

      function htmlEscape( string ) {
        return String( string ).
          replace( /&/g, "&amp;" ).
          replace( /"/g, "&quot;" ).
          replace( /'/g, "&#39;" ).
          replace( /</g, "&lt;" ).
          replace( />/g, "&gt;" );
      }

      Object.size = function(obj) { 
        var size = 0, key; 
        for (key in obj) { 
          if (obj.hasOwnProperty(key)) size++; 
        } 
        return size; 
      }; 

    </script>
  </head>
	<body>
		<header class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container"><div id="logo">Virtual World Framework</div>
					<nav>
						<ul class="nav pull-right">
						  <li><a href="about.html">About</a></li>
						  <li><a href="catalog.html">Demos</a></li>
						  <li><a href="docs/reqs.html">Documentation</a></li>
						  <li><a href="glossary.html">Glossary</a></li>
						  <li><a href="faq.html">FAQ</a></li>
						</ul>
				  </nav>
				</div>
			</div>
		</header>
			
	<div class="container">
        <h1>Demos</h1>
          <hr />

<% while applications.any? do %>
      <div class="row">
<%   3.times do %>
<%     if applications.any? %>
<%       application, image, name, description = *applications.shift %>
        <!-- <%= application %> -->
        <div class="example">
          <a href="../<%= application + ( application == "earth" ? "?connected=1" : "" ) %>">
            <p><%= name %></p>
            <img src="../<%= image %>" alt="<%= name %>" />
          </a>

          <!-- Info Button -->
          <div style="position:relative"><img style="position:absolute;right:2px;bottom:-12px" src="info.png" alt="i" onclick="showInfo('<%= application %>', '<%= application == "earth" ? "?connected=1" : "" %>')" /></div>

          <!-- Content for Overlay -->
          <div id='<%= application %>-content' class='overlayContent'>
            <p class="exit-button"><img src="exit.png" alt="x" onclick="closeInfo()"/></p>
            <span class="app-title" id="<%= application %>"><b><%= name %></b></span>
            <hr>
            <div class="description">
              <p><b>Description</b></p>
              <p><%= description %></p>
            </div>
            <div class='instances'>
              <p><b>Instances</b></p>
            </div>

          </div>
          <!-- End Overlay Content -->
        </div>
        <!-- END <%= application %> -->
<%     end %>
<%   end %>
      </div>
<% end %>
    </div>

    <!-- Overlay div to display additional information -->
    <div style="position:absolute;top:30%;width:99%;height:99%;pointer-events:none">
      <div class="overlay">
      </div>
    </div>
  </body>
</html>